 <div id="nav">
    <ul class="ul">
        <li class="li li1"><a class="a" href="/">首页</a></li>
        <li class="li line2"></li>
        <li class="li li2"><a class="a" href="brand.html">百年历史</a></li>
        <li class="li line2"></li>
        <li class="li li3"><a class="a" href="aboutmc.html">关于马斯特轮胎(Mastercraft)</a>
          <div class="none1">
            <ul class="menu1">
              <li><a href="aboutmc.html">选择马斯特(MC)的五大理由</a></li>
              <li><a href="contact.html">联系我们</a></li>
              <li><a href="copyright.html">版权信息</a></li>          
            </ul>
          </div>
        </li>
        <li class="li line2"></li>
        <li class="li li4"><a class="a" href="product.html">产品和服务</a>
        <div class="none1">
            <ul class="menu1">
              <li><a href="product.html">PCR产品</a></li>
              <li><a href="product_suv.html">SUV产品</a></li>
              <li><a href="/products/search">查找轮胎</a></li>
              <li><a href="commonsense.html">轮胎使用常识</a></li>
              </ul>
          </div>
        </li>
        <li class="li line2"></li>
        <li class="li li5"><a class="a current" href="news.html">媒体新闻</a>
        <div class="none1">
            <ul class="menu1">
              <li><a href="news.html">公司新闻</a></li>
              <li><a href="/downloads">高清图下载</a></li> 
             </ul> 
          </div>
        </li>
        
      </ul>
    </div>

  </div>
</div>

<div class="content_bg">
<div class="line1"></div>
  <div class="content2">
  <%= render "share/news_sidebar" %>
<div class="zy_right">
  <%= render "share/news_position" %>

<div class="download_con">
  <% 
  posters = [
    ['STRATEGY高清海报', 'kv1.jpg', 'download_pic1.jpg'],
    ['AVENGER-HP海报', 'kv2.jpg', 'download_pic2.jpg'],
    ['MC-440海报', 'kv3.jpg', 'download_pic3.jpg']
  ] 
  %>
  <% posters.each_with_index do |poster, index| %>
    <div class="dlc_con<%= "2" if index == 2 %>">
      <div class="dc_img">
        <img src="images/<%= "#{poster[2]}"%>" width="191" height="285" />
      </div>
      <div class="dc_text"><%= "#{poster[0]}" %></div>
      <div class="dc_btn"><%= button_to "点击下载", downloads_path(:file => poster[1]), :class =>"download1" %></div>
    </div>
  <% end %>
</div>



</div>




