      <div class="menu">
        <ul class="m_list">
          <li><a href="/" class="current">首 页</a></li>
          <li class="line2"></li>
          <li><a href="/brand.html">品牌故事</a></li>
          <li class="line2"></li>
          <li><a href="/aboutmc.html">关于Mastercraft</a></li>
          <li class="line2"></li>
          <li><a href="/product.html">产品与服务</a></li>
          <li class="line2"></li>
          <li><a href="/news.html">新闻动态</a></li>
          <li class="line2"></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="content_bg">
   <div class="line1"></div>
  <div class="content">
     <div class="banner">    
     <div id="focus"></div>
     <script type="text/javascript" src="/js/swfobject.js"></script>
        <script type="text/javascript">
        var so = new SWFObject("focus.swf", "focus", "915", "320", "7", "#ffffff");
        so.addParam('wmode','transparent');
        so.addVariable("picurl","images/banner1.jpg,images/banner2.jpg,images/banner3.jpg");
        <!--so.addVariable("pictext","图片一,图片二,图片三");-->
        so.addVariable("piclink","/mc-440.html,/mc-hp.html,/mc-strategy.html");
        so.addVariable("pictime","3");
        so.addVariable("borderwidth","915");
        so.addVariable("borderheight","320");
        so.addVariable("borderw","false");
        so.addVariable("buttondisplay","true");
        so.addVariable("textheight","0");
        so.write("focus");
        </script>            
     </div>
    <div class="home_con">
     <div class="home_news">
       <div class="hn_title">
         <div class="nt_bt">新闻动态</div>
         <div class="more"><a href="news.html">MORE</a></div>
       </div>
       <div class="hn_con">
         <div class="hc_img"><img src="images/hn_img.gif" width="95" height="60" /></div>
         <div class="hc_text"><span><a href="news.html">固铂轮胎可持续发展再添新动力 -- 获美国农业部690万美元专款⋯</a></span>
           <span class="date">2012-07-17</span>
         </div> 
       </div>

       <div class="hn_con1"><span class="hnc_con"><a href="news.html">中原英雄风云再起 固铂轮胎越野激情⋯</a></span><span class="date2">2012/07/17</span></div>

       <div class="hn_con1"><span class="hnc_con"><a href="news.html">挑战雪域高原之巅 固铂轮胎协力车手⋯</a></span><span class="date2">2012/07/17</span></div>

     </div> 

     <div class="find">
      <div class="hn_title">
       <div class="nt_bt">查找轮胎</div>
       <div class="more"><a href="product.html">查看所有轮胎</a></div>
     </div>


     <div class="ph_short">
       <script> 
       <!-- 
       /*tab切换脚本*/ 
       function setTab(name,cursel,n){ 
        /*参数意义:name为标签id标识,即不带数字的,cursel为标签数字,n为一共有几个标签*/
        for(i=1;i<=n;i++){ 
          var menu=document.getElementById(name+i); /*循环取得所有标签*/
          var con=document.getElementById("tab_"+name+"_"+i); /*循环取得所有的内容块*/
          menu.className=i==cursel?"current":""; /*判断自身的数字是否等于current*/
          con.style.display=i==cursel?"block":"none"; /*如果是则显示出当前标签所应的内容块,否则隐藏*/
        } 
      } 
  //--> 
  </script>

  <div class="tabTitle"> <a href="/" id="one1" onmouseover="setTab('one',1,3)" class="current">按尺寸查找</a> <a href="/" id="one2" onmouseover="setTab('one',2,3)">按车辆查找</a> <a href="/" id="one3" onmouseover="setTab('one',3,3)">按花纹查找</a> </div>

  <div class="pro_con">

    <div class="home_pro1" id="tab_one_1" > 
      <%= form_tag "/searchs" do  -%>             
      <div class="xz_pro">
        <%= render "product_search_form" %>
      </div>
      <div class="btn_pro"><input type="submit" class="searchbtn" value="查询轮胎" /></div> 
      <% end %>   
    </div>


    <div class="home_pro1" id="tab_one_2" style="display:none;">
     <%= form_tag "/searchs?type=brand" do  -%>  
     <div class="xz_pro">
      <%= render "brand_search_form" %>       
    </div>
    <div class="btn_pro"><input type="submit" class="searchbtn" value="查询轮胎" /></div>  
    <% end %>       
  </div>

  <div class="home_pro1" id="tab_one_3" style="display:none;">
    <%= form_tag "/searchs?type=brand" do  -%>     
    <div class="xz_pro">
     <%= select_tag 'name', options_for_select(Brand.decorative_collection), :prompt => "选择花纹", :class => "select", :style => "width:200px" %>
   </div>
   <div class="btn_pro"><input type="submit" class="searchbtn" value="查询轮胎" /></div>  
   <% end %>       
 </div>               
</div>

</div>

</div>  
</div>


<div class="home_con2">
 <div class="h_product1">
 <div class="hp_left">
 <span><a href="mc-440.html"><img src="images/home_pro4.gif" width="77" height="19" border="0" /></a></span>
 <span class="more2"><a href="mc-440.html">MORE</a></span> 
 </div>
  <div class="hp_right"><a href="mc-440.html"><img src="images/home_pro1.jpg" width="84" height="110" border="0" /></a></div>
 
 </div>
 
 
 
 
 <div class="h_product2"> 
  <div class="hp_left">
 <span><a href="mc-hp.html"><img src="images/home_pro5.gif" width="136" height="20" border="0" /></a></span>
<span class="more2"><a href="mc-hp.html">MORE</a></span>
 </div>
  <div class="hp_right"><a href="mc-hp.html"><img src="images/home_pro2.jpg" width="89" height="109" border="0" /></a></div> 
</div>
 
 
 
 
 
 <div class="h_product3">
   <div class="hp_left">
 <span><a href="mc-strategy.html"><img src="images/home_pro6.gif" width="105" height="20" border="0" /></a></span>
 <span class="more2"><a href="mc-strategy.html">MORE</a></span>
 </div>
  <div class="hp_right"><a href="mc-strategy.html"><img src="images/home_pro3.jpg" width="84" height="113" border="0" /></a></div>
 
  </div>
 
 
</div>

</div>
<%= javascript_include_tag "jquery", "jquery-ui","jquery_ujs","underscore", "backbone", "products", "brands"%>
<script type="text/javascript" src="/js/jquery.tools.min.js"></script>
<script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>

  <!--[if IE 6]>
    <script type="text/javascript" src="/js/png.js"></script>
    <!--<![endif]-->
<script language="javascript" type="text/javascript" src="/js/default.js"></script>


