<div id="bannercontent">
 <div id="bannerlist">
   <ul>
     <li><a href="#"><img src="/image/banner1.jpg" alt="" title="" /></a></li>
     <li><a href="#"><img src="/image/banner2.jpg" alt="" title="" /></a></li>
     <li><a href="#"><img src="/image/banner3.jpg" alt="" title="" /></a></li>
     <li><a href="#"><img src="/image/banner4.jpg" alt="" title="" /></a></li>
   </ul>
 </div>
 <div class="prev" id="prevbtn"></div>
 <div class="next" id="nextbtn"></div>
</div>
<div id="map_news">
	
	
	
	
   <div id="mapcontent">
     <h3>固铂全球</h3>
     <div class="map">
     <div id="interactive-map" class="active">	
				<div class="imagemap">
					<img width="558" height="274" usemap="#world" class="world" alt="World Map" src="/pic/world-imagemap.gif">
					<map id="world" name="world">
						<area target="_blank" alt="Asia" href="http://www.coopertire.com.cn/" coords="353,138,348,132,341,135,334,124,330,127,324,122,328,117,332,117,332,114,338,114,340,108,335,102,340,98,336,94,341,91,344,93,359,92,358,86,368,84,369,85,379,88,381,92,389,92,394,96,403,92,412,96,412,90,415,93,423,94,426,96,444,94,448,87,451,88,453,94,458,96,457,98,460,100,448,111,450,116,459,117,459,112,475,99,477,91,480,84,476,82,482,74,490,74,496,94,500,94,498,99,479,111,478,122,461,128,458,138,451,140,447,140,449,149,449,153,453,155,454,161,455,167,455,172,458,172,460,175,465,175,467,177,470,176,485,183,491,183,491,181,494,181,505,187,509,191,508,193,537,201,538,202,534,208,530,206,532,200,508,194,512,206,518,210,517,214,509,210,511,207,507,194,494,187,490,188,493,194,492,196,488,195,482,190,478,193,476,193,473,191,469,190,470,188,470,186,464,185,456,184,456,190,450,194,443,194,440,191,430,191,422,189,418,187,412,180,411,181,410,180,410,177,407,176,408,173,404,169,384,169,381,165,378,164,372,150,371,145,368,145,362,138" shape="poly" class="map-asia">
						<area target="_blank" alt="Europe" href="http://www.coopertire.co.uk" coords="291,233,303,231,312,221,313,217,317,214,315,207,326,200,322,183,327,177,334,172,341,157,336,154,348,150,354,141,348,134,341,137,334,127,330,129,322,122,327,116,331,116,331,113,337,113,338,109,334,102,338,98,334,94,341,89,345,92,357,91,357,85,369,82,371,85,380,86,382,91,389,91,394,95,403,91,410,94,411,89,415,90,416,92,422,92,427,95,436,93,442,93,447,86,450,86,452,87,454,93,457,94,459,96,459,98,466,97,460,102,460,103,450,111,451,115,457,115,457,111,463,106,463,108,473,99,475,96,476,89,478,86,475,82,480,73,490,73,492,74,497,93,498,93,501,92,508,84,511,82,513,74,519,71,521,74,532,66,537,65,536,61,539,59,541,59,551,66,555,66,555,60,551,59,551,59,554,57,540,40,534,40,534,45,518,44,516,45,507,44,504,41,495,41,492,31,491,24,467,27,458,34,447,34,447,35,444,35,444,34,435,31,436,28,431,24,426,24,423,21,423,18,407,9,399,9,399,12,399,15,407,20,411,20,411,25,403,26,393,30,392,32,386,33,385,35,375,37,371,33,366,35,366,38,362,39,362,45,356,45,349,38,356,32,369,29,370,24,387,11,387,10,381,10,381,12,369,23,350,26,339,39,339,45,334,46,324,49,307,40,292,42,280,50,282,51,277,58,269,64,258,68,248,74,250,77,243,84,244,90,252,91,255,99,256,100,246,104,246,118,250,118,245,125,245,128,237,134,238,137,233,142,234,147,234,158,247,171,255,170,261,170,266,167,269,168,271,171,276,171,273,179,277,183,279,188,280,193,278,204,281,211,283,219,285,224,287,230" shape="poly" class="map-europe">
						<area target="_blank" alt="North America" href="http://us.coopertire.com" coords="164,271,176,267,176,262,161,261,166,255,162,253,187,227,202,212,205,205,205,198,214,190,213,184,189,175,184,167,177,166,168,158,164,158,164,147,146,142,140,127,149,122,149,115,153,112,160,111,177,101,183,101,198,71,235,65,244,62,244,57,240,54,290,28,294,24,297,27,339,17,355,18,366,14,361,8,352,8,343,12,335,11,288,13,278,17,247,9,220,1,141,2,75,25,72,30,67,44,53,48,19,41,6,50,3,58,6,73,4,86,4,89,19,84,23,80,31,80,34,75,40,73,51,78,58,89,69,96,71,118,21,146,23,150,74,120,81,127,93,143,99,143,99,150,141,170,137,182,137,188,145,202,153,207,147,247,145,262,147,269,153,273,161,273" shape="poly" class="map-north-america">
						<area target="_blank" alt="Australia and New Zealand" href="http://us.coopertire.com" coords="434,208,445,205,446,201,449,200,451,197,455,197,457,198,460,194,472,194,470,199,476,203,476,194,480,194,483,199,485,201,485,205,493,213,495,215,496,218,496,223,496,228,493,233,491,238,487,240,488,243,488,247,524,232,529,232,531,236,536,237,535,241,533,242,533,244,528,246,520,255,516,255,515,253,514,249,528,238,525,233,483,250,480,241,472,237,472,234,470,236,468,234,465,231,463,229,461,228,456,228,450,232,444,232,442,233,437,234,436,232,434,230,436,229,435,224,433,221,433,219,432,218,432,217,432,216" shape="poly" class="map-north-america">
					</map>
				</div>	
			</div>
     </div>
   </div>




 <div id="newscontent">
  <h3>新闻</h3>
  <ul>
	<%= render @infos %>
  </ul>
  <div class="more"><a href="/infos">更多新闻<span>&gt;&gt;</span></a></div>
  </div>
  <div class="clear"></div>
</div>
<div id="flash_product_search">
  <div id="flashcontent">
     <h3>固铂轮胎全球宣传片</h3>
     <div class="flash">
	 <object width="248" height="154" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">    
	            <param value="Flvplayer.swf" name="movie">    
	            <param value="high" name="quality">    
	            <param value="true" name="allowFullScreen">    
	            <param value="vcastr_file=http://cooper_media.sidways.com/flv/global.flv" name="FlashVars">    
	            <embed width="248" height="154" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" flashvars="vcastr_file=http://cooper_media.sidways.com/flv/global.flv" allowfullscreen="true" src="Flvplayer.swf">    
	          </object>
     </div>
   </div>
  <div id="productcontent">
   <h3><a href="/products_list.htm" class="more">更多产品<span>&gt;&gt;</span></a>明星产品</h3>
   <dl>
     <dt><a href="/stt_detail.htm">DISCOVERER STT</a></dt>
     <dd>
       <p>Discoverer STT外观粗犷坚实，是越野车型的理想选择。</p>
       <p>Discoverer STT可为你提供强劲的核心牵引力。深胎肩花纹和独特的大块花纹设计给你提供超乎寻常的强大抓地力。</p>
       <p class="morep"><a href="/stt_detail.htm">查看详情</a></p>
       <div class="img"><a href="/stt_detail.htm"><img src="/image/img04.jpg" alt="" title="" /></a></div>
     </dd>
   </dl>
  </div>
  <div id="searchcontent">
   <h3>查找轮胎</h3>
   <div id="searchmenu">
     <ul>
       <li tabindex="1" class="current">按尺寸查找</li>
       <li tabindex="2">按车辆查找</li>
       <li tabindex="3">按花纹查找</li>
     </ul>
   </div>


	
   <div class="body body01">
	<%= form_tag "/searchs" do  -%>
	<div class="condition">
		<%= render "product_search_form" %>
	</div>

	<input type="submit" class="searchbtn" value="查询轮胎" /><a class="morelink" href="/products_list.htm">查看所有轮胎</a>
	<% end -%> 
  </div>


   <div class="body body02 none">

	<%= form_tag "/searchs?type=brand" do  -%>
     <div class="condition">
    	<%= render "brand_search_form" %>
     </div>
     <input type="submit" class="searchbtn" value="查询轮胎" /><a class="morelink" href="/products_list.htm">查看所有轮胎</a>
	<% end -%> 

   </div>
   <div class="body body03 none">
		<%= form_tag "/searchs?type=brand" do  -%>
     <div class="condition">
			<%= select_tag 'name', options_for_select(Brand.decorative_collection), :prompt => "选择花纹", :class => "select", :style => "width:200px" %>
     </div>
     <input type="submit" class="searchbtn" value="查询轮胎" /><a class="morelink" href="/products_list.htm">查看所有轮胎</a>
	<% end -%> 
   </div>
  </div>
  <div class="clear"></div>
</div>

<%= content_for :flash do %>
<div id="flashcontents" class="flashcontents">
<div class="inner">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" height="475" width="850">
<param name="movie" value="Flvplayer.swf?vcastr_file=1.flv">
<param name="quality" value="high">
<param name="allowFullScreen" value="true" />
<embed src="Flvplayer.swf?vcastr_file=1.flv" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="850" height="475">
</embed>
</object> 
<a href="/" class="close"></a>
 </div>
</div>
	<!-- JavaScript -->

  <%= javascript_include_tag "jquery", "jquery-ui","jquery_ujs","underscore", "backbone", "products", "brands"%>
	<script type="text/javascript" src="/js/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/js/jquery.hoverIntent.minified.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="/js/png.js"></script>
	<!--<![endif]-->
	<script language="javascript" type="text/javascript" src="/js/default.js"></script>
	
<% end %>
