	      <div class="fd_list">
	      	<div class="fl_img">
	      		<!-- <img src="images/fc_pic4.gif" width="165" height="165" /> -->
	      		<%= link_to image_tag(brand.image_url, :size => '165x165'), brand.url %>
	      	</div>  
	      	<dl class="fl_text">
	      		<dt><%= link_to brand.name, brand.url %></dt>
	      		<dd class="dd"><%= brand.position %></dd>
	      		<dd><span><%= brand.rim %></span><span><%= brand.speed %></span><span><%= brand.sku %></span></dd>
	      		<dd><%= brand.road %></dd>
	      		<dd><span><%= brand.time %></span> </dd>
	      		<dd><%= link_to "查看详细", brand.url, :class => 'more' %></dd>
	      	</dl>
	      </div>