      <div class="fd_list">
    	<div class="fl_img">
		<!-- <img src="images/fc_pic4.gif" width="165" height="165" /> -->
		<%= link_to image_tag(product.image_url, :size => '165x165'), product.url %>
    </div>
	<dl class="fl_text">
		<dt><%= link_to product.name, product.url %></dt>
		<dd><%= product.position %></dd>
		<dd><span><%= product.rim %></span><span><%= product.speed %></span><span><%= product.sku %></span></dd>
        <dd><%= product.road %></dd>
        <dd><span><%= product.time %></span> </dd>
		<dd><%= product.description %></dd>
		<dd><%= link_to "查看详细", product.url, :class => 'more' %></dd>
	</dl>
</div>